<main class="pp-body">
  {{>"modules/player-pilot/templates/player-pilot-shell/views/stats-view.hbs"}}
  {{>"modules/player-pilot/templates/player-pilot-shell/views/actions-view.hbs"}}
  {{>"modules/player-pilot/templates/player-pilot-shell/views/rolls-view.hbs"}}
  {{>"modules/player-pilot/templates/player-pilot-shell/views/spells-view.hbs"}}
  {{>"modules/player-pilot/templates/player-pilot-shell/views/features-view.hbs"}}
  {{>"modules/player-pilot/templates/player-pilot-shell/views/item-view.hbs"}}
  {{>"modules/player-pilot/templates/player-pilot-shell/views/map-view.hbs"}}
</main>