<section class="pp-view pp-stats-page pp-system-{{model.adapter.id}} tab {{#if (eq activeTab 'inventory')}}active{{/if}}" data-tab="inventory">
    {{{renderItemView "inventory" model.groups.inventory "No inventory items found."}}}
</section>
