<main class="pp-body">
    <section class="pp-view pp-stats-page pp-system-{{model.adapter.id}} tab {{#if (eq activeTab.key 'spells')}}active{{/if}}" data-tab="spells">
        {{{renderSpellsView model}}}
    </section>
</main>