<main class="pp-body">
  <section class="pp-view pp-stats-page pp-system-swade tab {{#if (eq activeTab.key 'powers')}}active{{/if}}" data-tab="powers">
    {{>"modules/player-pilot/templates/player-pilot-shell/partials/search-input.hbs" this placeholder="Search powers..."}}

    {{{renderQuickFilters "powers"}}}

    <div class="pp-section">
      {{#each (filterItemsForView "powers" model.groups.powers.groups)}}
        <div class="pp-subsection">
          <div class="pp-section-header pp-big-header pp-combined-header">
            <h2><i class="fas fa-book-sparkles"></i><span>{{arcane}}</span></h2>
            <span class="pp-header-count">{{powers.length}}</span>
          </div>

          <div class="pp-card-list">
            {{#each (filterItemsForView "powers" powers) as |power|}}
              {{{renderItemCard power}}}
            {{/each}}
          </div>
      {{/each}}
    </div>
  </section>
</main>