<div class="pp-bennies-controls">
    <button type="button" data-action="benny" data-delta="-1" title="Spend Benny"><i class="fas fa-minus"></i></button>
    <strong>{{bennyValue}}</strong>
    <button type="button" data-action="benny" data-delta="1" title="Get Benny"><i class="fas fa-plus"></i></button>
</div>