<div class="pp-search-wrap">
    <input class="pp-search" type="text" placeholder="{{placeholder}}" value="{{state.search}}" data-action="search">
    <button class="pp-search-clear {{#unless state.search}}hidden{{/unless}}" type="button" data-action="search-clear" aria-label="Clear search">
        <i class="fas fa-xmark"></i>
    </button>
</div>