<div class="pp-stat {{key}}">
  <div class="pp-stat-icon">{{{renderInterfaceIcon icon}}}</div>
  <div class="pp-stat-copy">
    <span>{{label}}</span>
    <strong>{{value}}</strong>
  </div>
  {{#if controls}}
    {{> (lookup . "controls")}}
  {{/if}}
</div>